In [17]:
import pandas as pd
import os

In [36]:
df= pd.read_csv('epl_seasons1/season_2004-05.csv')
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,B365<2.5,GBAHH,GBAHA,GBAH,LBAHH,LBAHA,LBAH,B365AHH,B365AHA,B365AH
0,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,H,...,1.75,1.70,2.05,-0.25,2.02,1.82,-0.50,2.000,1.900,-0.50
1,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,A,...,1.80,1.77,1.95,-0.50,1.80,2.04,-0.50,1.850,2.050,-0.50
2,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,H,...,1.80,2.00,1.85,-0.25,2.04,1.80,-0.25,2.000,1.900,-0.25
3,E0,14/08/04,Man City,Fulham,1,1,D,1,0,H,...,1.90,1.85,2.00,-0.25,1.78,2.06,-0.25,1.850,2.050,-0.25
4,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,A,...,1.80,NaN,NaN,NaN,1.94,1.90,-0.25,1.800,2.100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,E0,20/04/05,Everton,Man United,1,0,H,0,0,D,...,1.70,1.72,1.95,0.50,1.98,1.86,0.50,2.025,1.875,0.50
331,E0,20/04/05,Man City,Birmingham,3,0,H,0,0,D,...,1.66,1.80,2.00,-0.25,1.76,2.08,-0.25,1.775,2.125,-0.25
332,E0,20/04/05,Norwich,Newcastle,2,1,H,0,0,D,...,1.90,1.80,2.00,0.00,1.82,2.02,0.00,1.850,2.050,0.00
333,E0,20/04/05,Portsmouth,Liverpool,1,2,A,1,2,A,...,1.75,2.00,1.80,0.25,1.98,1.86,0.25,2.049,1.850,0.25
334,E0,20/04/05,Tottenham,West Brom,1,1,D,0,1,A,...,1.95,2.00,1.80,-0.75,2.02,1.82,-0.75,2.025,1.875,-0.75

In [11]:
df= pd.read_csv('epl_seasons1/season_1993-94.csv')
dropped= df.dropna(axis='columns', how='all')
dropped.to_csv('epl_seasons1/season_1993-94.csv', index=False)

In [33]:
path="epl_seasons1"
dir_list= os.listdir(path)
for i in dir_list:
    print(i)
    df=pd.read_csv('epl_seasons1/'+i,on_bad_lines='skip')
    drop=df.dropna(axis='columns', how='all')
    drop.to_csv('epl_seasons1/'+i, index=False)

season_00-01.csv
season_01-02.csv
season_02-03.csv
season_03-04.csv
season_04-05.csv
season_05-06.csv
season_06-07.csv
season_07-08.csv
season_08-09.csv
season_09-10.csv
season_10-11.csv
season_11-12.csv
season_12-13.csv
season_13-14.csv
season_14-15.csv
season_15-16.csv
season_16-17.csv
season_17-18.csv
season_18-19.csv
season_19-20.csv
season_20-21.csv
season_21-22.csv
season_22-23.csv
season_23-24.csv
season_24-25.csv
season_93-94.csv
season_94-95.csv
season_95-96.csv
season_96-97.csv
season_97-98.csv
season_98-99.csv
season_99-00.csv